header {
    background-color: $base-color;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding-top: 1rem;
}

.mainnav {
    background-color: $secondary-color;
    padding: 1rem 1rem 1rem 2rem;

    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 1.2rem;
    }

    li {
        line-height: 2.3rem;

        a {
            text-decoration: none;
            color: $primary-color;
            font-weight: 300;
            margin-right: 12rem;
        }

    }

}

.mainnav a:hover {
    text-decoration: line-through;
    cursor: help;
}

.basesection {
    padding: 3rem 2rem 10rem 2rem;
}

/* ABOUT */

.studieslist {
    list-style: none;
    padding: 0;

    p {
        margin: 0 0 2rem 0;
    }
}

.skillslist {
    list-style: none;
    padding: 0;
    display: flex;

    li {
        margin-right: 5rem;

        figure {
            margin: 0;
            padding: 0;

            img {
                width: 13vw;
            }
        }
    }
}

/* CONTACTS */

.contactlist {
    list-style: none;
    padding: 0;
    display: flex;


    li {
        margin-top: 2rem;
        margin-right: 5rem;

        figure {
            margin: 0;
            padding: 0;

            img {
                width: 13vw;
            }
        }
    }
}

/* PORTFOLIO */

.projectnav {

    margin-right: 2rem;

    ul {
        list-style: none;
        padding: 0;
        margin-top: 2rem;

    a {
        text-decoration: none;
        color: $primary-color;
        font-weight: 500;
        font-size: 3rem;
        line-height: rem;
    }
}

    p {
        margin: 2rem 0rem 4rem 0rem;
    }
}

.projectnav a:hover {
    text-decoration: line-through;
    animation-duration: 0.3s;
    animation-name: flicker;
}

@keyframes flicker {
    0% {
        color: $primary-color
    }

    25% {
        color: $base-color
    }

    50% {
        color: $primary-color
    }

    75% {
        color: $base-color
    }

    100% {
        color: $primary-color
    }
}

/* PROJECTS */

.projectimage {
    margin: 2rem 2rem 0 0;

    img {
        max-width: 80vw;
        transition: 2s;
    }
}

.projectimage img:hover {
    opacity: 0%;
}

footer {
    position: absolute;
    bottom: 0;
    margin-top: 5rem;
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient($secondary-color, $base-color);
    border-radius: 2rem 2rem 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    p {
        margin: 0rem 2rem 0rem 2rem;
        font-size: 0.5rem;
    }
}

@media (min-width: 1000px) {

    .mainnav {
        ul {
            flex-direction: row;
            font-size: 1.5rem;
        }
    }

    p {
        max-width: 50vw;
    }

    .skillslist li figure img {
        width: 5vw;
    }

    .contactlist li figure img {
        width: 5vw;
    }

.projectnav {

    max-width: 70%;

    ul a {
        font-size: 4rem;
        line-height: 4rem;
    }

    p {
        margin: 2rem 0rem 4rem 0rem;
    }
}

.projectimage {

    img {
        max-width: 50vw;
    }
}


}