header {
    background-color: $base-color;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding-top: 1rem;
}

.mainnav {
    background-color: $secondary-color;
    list-style: none;
    padding: 1rem 1rem 1rem 2rem;

    ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 1.5rem;
    }

    a {
        text-decoration: none;
        color: $primary-color;
        font-weight: 300;
        margin-right: 12rem;

    }
}

a:hover {
    text-decoration: line-through;
}

.basesection {
    padding: 3rem 0rem 10rem 2rem;
}

/* ABOUT */

.studieslist {
    list-style: none;
    padding: 0;

    p {
        margin: 0 0 2rem 0;
    }
}

.skillslist {
    list-style: none;
    padding: 0;
    display: flex;

    figure {
        margin: 0;
        padding: 0;

        img {
            width: 40%;
        }
    }
}

/* CONTACTS */

.contactlist {
    list-style: none;
    padding: 0;
    display: flex;

    figure {
        margin: 2rem 0;
        padding: 0;

        img {
            width: 20%;
        }
    }
}


/* PROJECTS */

figure {
    margin: 2rem 0;

    img {
        max-width: 50vw;
    }
}

footer {
    position: absolute;
    bottom: 0;
    margin-top: 5rem;
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient($secondary-color, $base-color);
    border-radius: 2rem 2rem 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    p {
        margin: 0rem 2rem 0rem 2rem;
    }
}